## Build results
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/
publish/
dist/
vendor/
local-nuget/
lhm-src/
*.binlog
*.tlog

## Visual Studio / Rider / VS Code
.vs/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

## Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml
coverage*.json
coverage*.xml
coverage*.info

## NuGet
*.nupkg
*.snupkg
packages/
!packages/build/

## OS / misc
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## Misc
*.tmp
*.bak
*.cache
*.pid
